pipeline/DF_Processing.json
{
	"name": "DF_Processing",
	"properties": {
		"activities": [
			{
				"name": "GetListFileToDownload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ReadJsonFileToDownload",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListFileToDownload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "SetForEachValues",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "BaseUrl",
								"value": {
									"value": "@item().Baseurl",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"BaseUrl": {
				"type": "String"
			}
		},
		"annotations": []
	}
}