pipeline/DF_Processing.json
{
	"name": "DF_Processing",
	"properties": {
		"activities": [
			{
				"name": "LookUp_GetListFileToDownload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ReadJsonFileToDownload",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IterateTheFileDownload",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUp_GetListFileToDownload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUp_GetListFileToDownload').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set downloadvariables",
							"type": "SetVariable",
							"dependsOn": [],
							"typeProperties": {
								"variableName": "sourceBaseURL",
								"value": {
									"value": "@item().sourceBaseURL",
									"type": "Expression"
								}
							}
						},
						{
							"name": "DownloadThefiles",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set downloadvariables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_Http_DownloadFile",
									"type": "DatasetReference",
									"parameters": {
										"ParameterBaseUrl": {
											"value": "@item().sourceBaseURL",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"sourceBaseURL": {
				"type": "String"
			},
			"sourceRelativeURL": {
				"type": "String"
			},
			"sinkFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}