pipeline/DF_Processing.json
{
	"name": "DF_Processing",
	"properties": {
		"activities": [
			{
				"name": "LookUp_GetListFileToDownload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ReadJsonFileToDownload",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IterateTheFileDownload",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUp_GetListFileToDownload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookUp_GetListFileToDownload').output.firstRow",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DownloadThefiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Http_DownloadFile",
									"type": "DatasetReference",
									"parameters": {
										"ParameterBaseUrl": {
											"value": "@item().sourceBaseURL",
											"type": "Expression"
										},
										"ParameterRelativeURL": {
											"value": "@item().sourceRelativeURL",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DD_DownloadFile_Http",
									"type": "DatasetReference",
									"parameters": {
										"sinkFileName": {
											"value": "@item().sinkFileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"sourceBaseURL": {
				"type": "String"
			},
			"sourceRelativeURL": {
				"type": "String"
			},
			"sinkFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}